<!DOCTYPE html>
<html lang="en">
<head>
    <title>Oooops! Page not found! :(</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorText}}</p>
    </div>

    {{>footer}}
</body>
</html>