<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Help</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Contact for help: {{contact}}</p>
    </div>

    {{>footer}}
</body>
</html>

